

@font-face {
    font-family: 'verdana', 'sans-serif';
    src: url('/resources/verdana-font-family/verdana.ttf');
 }    


* {
    box-sizing: border-box;
}


body {
    background-color: black;
    text-align: center;
    font-family: verdana;
}

h1, h2 {
    
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}
a {
    color:aquamarine;
    font-size: 16px;
}
p {
    color: grey;
    font-size: 21px;
}

.copyright {

    text-align: right;
    color: grey;
}